  {% extends "masterhome.html" %}
  {% load static %}
  
  {% block content %}

    
<div class="calendar-header">Calendar</div>
  <div class="containerc">
    
    <div class="main-contentc">
      <h2>List of Holidays - 2025</h2>
      <div class="legendc">
        <div class="holiday-type">
          <div class="red-box"></div>
          <span>General Holidays</span>
        </div>
        <div class="holiday-type">
          <div class="green-box"></div>
          <span>Optional Holidays</span>
        </div>
      </div>
    </div>
  </div>
   <div class="cards-containerc">
    <div class="cardc">
      <img src="{% static 'management/img/ja.png' %}"  >
    </div>
    <div class="cardc">
      <img src="{% static 'management/img/fe.png' %}" >
    </div>
    <div class="cardc">
      <img src="{% static 'management/img/ma.png' %}" >
    </div>
    <div class="cardc">
      <img src="{% static 'management/img/ap.png' %}" >
    </div>
    <div class="cardc">
      <img src="{% static 'management/img/may.png' %}" >
    </div>
    <div class="cardc">
      <img src="{% static 'management/img/ju.png' %}" >
    </div>
    <div class="cardc">
      <img src="{% static 'management/img/july.png' %}" >
    </div>
    <div class="cardc">
      <img src="{% static 'management/img/au.png' %}" >
    </div>
    <div class="cardc">
      <img src="{% static 'management/img/se.png' %}" >
    </div>
    <div class="cardc">
      <img src="{% static 'management/img/oc.png' %}" >
    </div>
    <div class="cardc">
      <img src="{% static 'management/img/no.png' %}" >
    </div>
    <div class="cardc">
      <img src="{% static 'management/img/de.png' %}" >
    </div>
    
    <!-- Add more cards/images here -->
  </div>
  
<br><br>

{% endblock %}






