{% extends "admin/change_form.html" %}
{% load static %}

{% block field_sets %}
  {# This block renders the normal employee fields (name, department, etc.) #}
  {{ block.super }}

  {# Add our custom link assignment form below the standard fields #}
  <fieldset class="module aligned">
      <h2>Assign Links</h2>
      <div class="form-row">
          {{ link_form.assigned_links.errors }}
          <label>Available Links:</label>
          <div class="related-widget-wrapper">
              {{ link_form.assigned_links }}
          </div>
      </div>
  </fieldset>
{% endblock %}
