{% extends "admin/change_list.html" %}
{% load static %}

{% block object-tools-items %}
  {# This block adds our custom buttons alongside the default "Add" button #}
  
  <li>
    <a href="allow-all/" class="addlink" style="background-color: #28a745;">
      &#9989; Allow All IPs
    </a>
  </li>
  <li>
    <a href="enforce-list/" class="addlink" style="background-color: #ffc107; color: #212529;">
      &#128270; Enforce IP List
    </a>
  </li>
  <li>
    <a href="block-all/" class="addlink" style="background-color: #343a40;">
      &#128683; Block All IPs
    </a>
  </li>

  {# This includes the original "Add button" #}
  {{ block.super }}
{% endblock %}
