{% extends "admin/change_list.html" %}
{% load static %}

{% block object-tools-items %}
  {# Put all custom buttons in ONE list item and hide its bullet point #}
  <li style="list-style-type: none;">

    {# Use Bootstrap's margin-end class (me-2) for spacing between buttons #}
    <a href="allow-all/" class="btn btn-primary me-2">
      <i class="fas fa-check-circle"></i> Allow All IPs
    </a>
    
    <a href="enforce-list/" class="btn btn-warning me-2">
      <i class="fas fa-list-alt"></i> Enforce IP List
    </a>
    
    <a href="block-all/" class="btn btn-danger me-2">
      <i class="fas fa-ban"></i> Block All IPs
    </a>

  </li>

  {# This includes the original "Add" button, which is in its own <li> #}
  {{ block.super }}
{% endblock %}
